  .login{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #173451;
  color: #FFFFFF;
  /* background: rgba(0, 0, 0, 0.5); */
  }
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Высота на весь экран */
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form input {
  padding: 5px;
  margin-bottom: 10px;
}

.login-form button {
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}